$white-color: #fff;
$accent-color: #4985FF;
$black-color: #000;
$dark-color: #323232;
$gray-color: #999999;
$light-gray: #E0E0E0;
$dark-gray: #A1A1A1;
$cover-color: #F6F6F8;

$space: space-between;
$ai: flex-start;
$cntr: center;
$wr: wrap;