.header {

   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   background-color: transparent;

   #check-menu {
      position: fixed;
      right: 15px;
      top: 10px;
      width: 40px;
      height: 40px;
      z-index: 2;
      opacity: 0;
   }

   #check-menu:checked ~ &__nav {
      height: 100%;
      box-shadow: 0 0 15px 3px rgba(0,0,0, .4);
   }

   &__nav {
      @include flex(flex-end, $cntr, $wr, 40px);
      margin: 17px 0;

      @media (max-width:768px) {
         position: fixed;
         right: 0;
         bottom: 0;
         top: 35px;
         flex-direction: column;
         justify-content: center;
         padding: 0 20px;
         width: 75%;
         background-color: rgba(0,0,0, .8);
         z-index: 2;
         overflow: auto;
         height: 0;
         gap: 20px;
         transition: .5s all;
      }
   }

   &__nav-link {
      color: $white-color;
      font-weight: 500;
      position: relative;
      padding: 9px 0;
   }

   &__nav-link::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 60px;
      height: 2px;
      width: 0%;
      background-color: $white-color;
      transition: width .3s;

      @media (max-width:768px) {
         top: 35px;
      }
   }

   &__nav-link:hover::after,
   &__nav-link--current::after {
      width: 150%;
   }

   &__btn-menu {
      position: fixed;
      right: 15px;
      top: 10px;
      width: 40px;
      height: 40px;
      background-color: $black-color;
      opacity: 65%;
      border: 1px solid $white-color;

      &:hover {
         cursor: pointer;
      }

      @media (min-width:769px) {
         display: none;
      }
   }

   #check-menu:checked ~ &__btn-menu &__btn-menu-line:nth-child(1) {
      transform: translateX(-50%) rotate(45deg);
      top: 17px;
   }

   #check-menu:checked ~ &__btn-menu &__btn-menu-line:nth-child(2) {
      opacity: 0;
   }

   #check-menu:checked ~ &__btn-menu &__btn-menu-line:nth-child(3) {
      transform: translateX(-50%) rotate(-45deg);
      top: 17px;
   }
   

   &__btn-menu-line {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 30px;
      height: 3px;
      background-color: $white-color;
      border-radius: 7px;
   }

   &__btn-menu-line:nth-child(1) {
      top: 8px;
      transition: transform .3s;
   }
   &__btn-menu-line:nth-child(2) {
      top: 18px;
      transition: opacity .3s;
   }
   &__btn-menu-line:nth-child(3) {
      top: 28px;
      transition: transform .3s;
   }

   &__decor-line {
      border: none;
      height: 1px;
      background-color: $dark-gray;
      opacity: 50%;
      margin: 0;

      @media (max-width:768px) {
         display: none;
      }
   }
}