.projects {

      background-color: $cover-color;
      padding-top: 100px;
      text-align: center;

		&__title {
         margin-bottom: 50px;
		}

      &__desc {
         max-width: 730px;
         margin: 0 auto 70px;
      }

		&__list {
         margin-bottom: 50px;
         @include flex($space, $ai, $wr, 30px);

         @media (max-width: 1140px) {
            justify-content: space-around;
         }
		}

		// &__list-item-link {
		// }

		// &__list-item-link-img {
		// }

      &__details {
         margin-bottom: 160px;
      }
}
